<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>scroll</title>
  <meta name="format-detection" content="telephone=no">
  <!-- safari full screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta id="apple-mobile-web-app-title" name="apple-mobile-web-app-title" content="诺诺镑客">
  <!--build:css css/index.min.css-->
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <!--endbuild-->
</head>

<body id="app" v-cloak>
  <biv class="bg">
    <div class="scroll">
      <p v-if="txt1">111111111111111111111</p>
      <p v-if="txt2">222222222222222222222</p>
      <p v-if="txt3">333333333333333333333</p>
      <p v-if="txt4">444444444444444444444</p>
    </div>
    <div id="wrap">
      <div class="stage" id="stage">
        <div class="item item1">4<img src="images/1.jpg" alt=""></div>
        <div class="item item2">3<img src="images/2.jpg" alt=""></div>
        <div class="item item3">2<img src="images/3.jpg" alt=""></div>
        <div class="item item4">1<img src="images/4.jpg" alt=""></div>
      </div>
    </div>
  </biv>
  <!--build:js js/vendor.min.js -->
  <script src="js/zepto.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/bridge.js"></script>
  <script src="js/util.js"></script>
  <!--endbuild-->
  <!--build:js js/main.min.js-->
  <script src="js/scroll.js"></script>
  <!--endbuild-->
  <!--build:js js/piwik.min.js-->
  <script src="js/piwik.js"></script>
  <!--endbuild-->
</body>

</html>
